<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid justify-content-between">
        <a class="navbar-brand" href="/home">
            <img src="assets/imagenes/logo2.jpeg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            aura
        </a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home">Mis blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Crear blog</a>
          </li>
          <li class="nav-item">
            <form class="container-fluid justify-content-start">
              <a class="btn btn-outline-success me-2" id="btn-iniciarSesion" type="button" href="/landing">Cerrar sesión</a>
            </form>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Perfil
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
