<!-- landing.component.html -->
<navbarh></navbarh>
<div class="container text-center">
    <div class="jumbotron my-5">
      <h1 class="nombreP">aura</h1>
      <p class="lead">tus pasiones, tu arte, tu espacio</p>
      <!-- "Explora Tus Pasiones, Expresa Tu Arte" "Tu Viaje Creativo Comienza Aquí""Crea, Explora, Evoluciona""Refleja Tu Alma, Expresa Tu Arte" -->
      <app-boton label="Unirme" href="/crear-cuenta" role="button">unirme</app-boton>
    </div>
  
    <div class="my-5">
      <img src="assets/imagenes/foto-landing.jpg" class="img-fluid" alt="Landing Image">
    </div>
  
    <div class="my-5">
      <h2>Opiniones</h2>
      <p class="lead">Lo que nuestro usuarios opinan</p>
  
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>"Encantadora"</p>
                <footer class="blockquote-footer">Luz Méndez <cite title="Source Title">Me encanta que puedo poner mis favoritos</cite></footer>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>"Muy bonita"</p>
                <footer class="blockquote-footer">Ariadna <cite title="Source Title">Me encantan las estrellitas de los botones</cite></footer>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>"Divertida "</p>
                <footer class="blockquote-footer">Pedro <cite title="Source Title">Muy linda para crear playlists</cite></footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

