<!-- landing.component.html -->
<navbarh></navbarh>
<div class="container text-center">
    <div class="jumbotron my-5">
      <h1 class="nombreP">aura</h1>
      <p class="lead">tus pasiones, tu arte, tu espacio</p>
      <!-- "Explora Tus Pasiones, Expresa Tu Arte" "Tu Viaje Creativo Comienza Aquí""Crea, Explora, Evoluciona""Refleja Tu Alma, Expresa Tu Arte" -->
      <app-boton label="Unirme" href="/crear-cuenta" role="button">unirme</app-boton>
    </div>
  
    <div class="my-5">
      <img src="assets/imagenes/foto-landing.jpg" class="img-fluid" alt="Landing Image">
    </div>
  
    <div class="my-5">
      <h2>Heading</h2>
      <p class="lead">Subheading to introduce testimonials</p>
  
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>"A terrific piece of praise"</p>
                <footer class="blockquote-footer">Name <cite title="Source Title">Description</cite></footer>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>"A fantastic bit of feedback"</p>
                <footer class="blockquote-footer">Name <cite title="Source Title">Description</cite></footer>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>"A genuinely glowing review"</p>
                <footer class="blockquote-footer">Name <cite title="Source Title">Description</cite></footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

