<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="assets/imagenes/logo2.jpeg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            aura
        </a>
      <div class="collapse navbar-collapse" id="btn-crearCuenta">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/crear-cuenta">Crear cuenta</a>
          </li>
          <li class="nav-item">
            <form class="container-fluid justify-content-start">
              <a class="btn btn-outline-success me-2" id="btn-iniciarSesion" type="button" href="/login">Iniciar sesión</a>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

